* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: RGB(144, 143, 242);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.spline {
    transform: scale(0.9);
}

.fade-in {
    opacity: 1;
    animation-name: fadeInOpacity;
    animation-iteration-count: 1;
    animation-timing-function: ease-in;
    animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@media (max-width: 1200px) {
    .spline {
        transform: scale(0.7);
    }
}


@media (max-width: 850px) {
    .spline {
        transform: scale(0.5);
    }
}

@media (max-width: 568px) {
    .spline {
        transform: scale(0.3);
    }

}