* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: RGB(144, 143, 242);
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.spline {
    transform: scale(0.4) translateY(-30%);
}

.fade-in {
    opacity: 1;
 animation-name: fadeInOpacity;
 animation-iteration-count: 1;
 animation-timing-function: ease-in;
 animation-duration: 2s;
}

@keyframes fadeInOpacity {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}